data/144/EDGAR Form 144 XML Schema Files/eis_Form_144_Ownership.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Filename: eis_From144_ownership.xsd -->
<!-- Purpose:  Defines the elements for Online filings. -->
<!-- Version:   TBD -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/ownership" xmlns:ns1="http://www.sec.gov/edgar/common" targetNamespace="http://www.sec.gov/edgar/ownership" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
	<xs:simpleType name="SUBMISSION_TYPE">
		<xs:annotation>
			<xs:documentation>
            Type of submission you are filing.  Choose a value from the appropriate family of
            Submission Types.  
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="144"/>
			<xs:enumeration value="144/A"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="FILER_INFO_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the FILER_INFO_TYPE group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="filer" type="FILER_TYPE" minOccurs="1"/>
			<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE" minOccurs="1"/>
			<xs:element name="contact" type="CONTACT_TYPE" minOccurs="1"/>
			<xs:element name="flags" type="FLAGS_TYPE" minOccurs="1" />
			<xs:element name="notifications" type="NOTIFICATIONS_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HEADER_DATA">
		<xs:annotation>
			<xs:documentation>These elements are part of the HEADER_DATA_TYPE group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="submissionType" type="SUBMISSION_TYPE" minOccurs="1"/>
			<xs:element name="previousAccessionNumber" type="ns1:ACCESSION_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="filerInfo" type="FILER_INFO_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ISSUER_INFORMATION">
		<xs:annotation>
			<xs:documentation>These elements are part of the form  data	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="issuerCik" type="ns1:CIK_TYPE" minOccurs="1"/>
			<xs:element name="issuerName" type="ns1:STRING_150_TYPE" minOccurs="1"/>
			<xs:element name="secFileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="issuerAddress" type="ns1:ADDRESS_TYPE" minOccurs="1"/>
			<xs:element name="issuerContactPhone" type="ns1:EDGAR_PHONE_TYPE" minOccurs="1"/>
			<xs:element name="nameOfPersonForWhoseAccountTheSecuritiesAreToBeSold" type="ns1:STRING_150_TYPE" minOccurs="1"/>
			<xs:element name="relationshipsToIssuer" type="RELATIONSHIPS_TO_ISSUER" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SECURITIES_INFORMATION">
		<xs:annotation>
			<xs:documentation>These elements are part of the form data	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="securitiesClassTitle" type="ns1:STRING_150_TYPE" minOccurs="1"/>
			<xs:element name="brokerOrMarketmakerDetails" type="NAME_ADDRESS_TYPE" minOccurs="1"/>
			<xs:element name="noOfUnitsSold" type="ns1:INTEGER_NONNEGATIVE_12" minOccurs="1"/>
			<xs:element name="aggregateMarketValue" type="DECIMAL_TYPE14_2_NONNEGATIVE" minOccurs="1"/>
			<xs:element name="noOfUnitsOutstanding" type="ns1:INTEGER_NONNEGATIVE_12" minOccurs="1"/>
			<xs:element name="approxSaleDate" type="ns1:DATE_TYPE2" minOccurs="1"/>
			<xs:element name="securitiesExchangeName" type="ns1:STRING_20_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SECURITIES_TO_BE_SOLD">
		<xs:annotation>
			<xs:documentation>These elements are part of the form data	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="securitiesClassTitle" type="ns1:STRING_150_TYPE" minOccurs="1"/>
			<xs:element name="acquiredDate" type="ns1:DATE_TYPE2" minOccurs="1"/>
			<xs:element name="natureOfAcquisitionTransaction" type="ns1:STRING_255_TYPE" minOccurs="1"/>
			<xs:element name="nameOfPersonfromWhomAcquired" type="ns1:STRING_100_TYPE" minOccurs="0"/>
			<xs:element name="isGiftTransaction" type="ns1:YES_NO_TYPE" minOccurs="1"/>
			<xs:element name="donarAcquiredDate" type="ns1:DATE_TYPE2" minOccurs="0"/>
			<xs:element name="amountOfSecuritiesAcquired" type="ns1:INTEGER_NONNEGATIVE_12" minOccurs="1"/>
			<xs:element name="paymentDate" type="ns1:DATE_TYPE2" minOccurs="0"/>
			<xs:element name="natureOfPayment" type="ns1:STRING_255_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="SECURITIES_SOLD_IN_PAST_3_MONTHS">
		<xs:annotation>
			<xs:documentation>These elements are part of the form data	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sellerDetails" type="NAME_ADDRESS_TYPE" minOccurs="1"/>
			<xs:element name="securitiesClassTitle" type="ns1:STRING_150_TYPE" minOccurs="1"/>
			<xs:element name="saleDate" type="ns1:DATE_TYPE2" minOccurs="1"/>
			<xs:element name="amountOfSecuritiesSold" type="ns1:INTEGER_NONNEGATIVE_12" minOccurs="1"/>
			<xs:element name="grossProceeds" type="DECIMAL_TYPE14_2_NONNEGATIVE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="NOTICE_SIGNATURE">
		<xs:annotation>
			<xs:documentation>These elements are part of the form data	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="noticeDate" type="ns1:DATE_TYPE2" minOccurs="1"/>
			<xs:element name="planAdoptionDates" type="PLAN_ADOPTION_DATES" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signature" type="ns1:STRING_150_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FLAGS_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the FLAGS_TYPE group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE"	minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FORM_DATA">
		<xs:annotation>
			<xs:documentation>These elements are part of the FORM_DATA group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="issuerInfo" type="ISSUER_INFORMATION" minOccurs="1" maxOccurs="1"/>
			<xs:element name="securitiesInformation" type="SECURITIES_INFORMATION" minOccurs="1" maxOccurs="40"/>
			<xs:element name="securitiesToBeSold" type="SECURITIES_TO_BE_SOLD" minOccurs="1" maxOccurs="40"/>
			<xs:element name="nothingToReportFlagOnSecuritiesSoldInPast3Months" type="ns1:YES_NO_TYPE" minOccurs="1"/>
			<xs:element name="securitiesSoldInPast3Months" type="SECURITIES_SOLD_IN_PAST_3_MONTHS" minOccurs="0" maxOccurs="200"/>
			<xs:element name="remarks" type="ns1:STRING_1K_TYPE" minOccurs="0"/>
			<xs:element name="noticeSignature" type="NOTICE_SIGNATURE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PLAN_ADOPTION_DATES">
		<xs:annotation>
			<xs:documentation>These elements are part of the FORM_DATA group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="planAdoptionDate" type="ns1:DATE_TYPE2" minOccurs="0" maxOccurs="20"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FILER_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the FILER_TYPE group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="filerCredentials" type="FILER_CREDENTIALS_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="FILER_CREDENTIALS_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the FILER_CREDENTIALS_TYPE group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cik" type="ns1:CIK_TYPE" minOccurs="1"/>
			<xs:element name="ccc" type="ns1:CCC_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="NOTIFICATIONS_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the NOTIFICATIONS_TYPE	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="notificationEmailAddress" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RELATIONSHIPS_TO_ISSUER">
		<xs:annotation>
			<xs:documentation>These elements are part of the NOTIFICATIONS_TYPE	group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="relationshipToIssuer" type="ns1:STRING_50_TYPE" minOccurs="1" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CONTACT_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the CONTACT_TYPE group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactName" type="ns1:NAME_TYPE" minOccurs="1"/>
			<xs:element name="contactPhoneNumber" type="ns1:EDGAR_PHONE_TYPE" minOccurs="1"/>
			<xs:element name="contactEmailAddress" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="NAME_ADDRESS_TYPE">
		<xs:annotation>
			<xs:documentation>These elements are part of the CONTACT_TYPE group
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="NAME_TYPE" minOccurs="1"/>
			<xs:element name="address" type="ns1:ADDRESS_TYPE" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="NAME_TYPE">
		<xs:annotation>
			<xs:documentation>Identifies a person to contact if there are questions about the submission (field up to 100 characters).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
			<xs:pattern
					value="[A-Za-z0-9!#-$%():;'@\*\+\-/=\?\^_`~{|},. \\\s&lt;&gt;&amp;&quot;\[\]]{1,100}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DECIMAL_TYPE14_2_NONNEGATIVE">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14" />
			<xs:fractionDigits value="2" />
			<xs:maxInclusive value="999999999999.99" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="edgarSubmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
				<xs:element name="headerData" type="HEADER_DATA"/>
				<xs:element name="formData" type="FORM_DATA"/>
				<xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>