data/nport/schema/eis_NPORT_common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.sec.gov/edgar/nportcommon" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns:ns1="http://www.sec.gov/edgar/common" xmlns:iso="http://www.sec.gov/edgar/iso_statecodes"
 targetNamespace="http://www.sec.gov/edgar/nportcommon" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
<xs:import namespace="http://www.sec.gov/edgar/iso_statecodes" schemaLocation="eis_ISO_StateCodes.xsd"/>	
	
	<xs:simpleType name="CUSIP_NA_TYPE">
		<xs:union memberTypes="CUSIP_TYPE NA_TYPE"/>
	</xs:simpleType>
	<xs:simpleType name="ISIN_NA_TYPE">
		<xs:union memberTypes="ISIN_TYPE NA_TYPE"/>
	</xs:simpleType>
	<xs:simpleType name="INTEGER_NON_NEGATIVE_NA_5">
		<xs:union memberTypes="INTEGER_NON_NEGATIVE_5 NA_TYPE"/>
	</xs:simpleType>
	
	 <xs:simpleType name="INTEGER_NON_NEGATIVE_5">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- allows negative values -->
	<xs:simpleType name="DECIMAL_TYPE_24">
              <xs:union memberTypes="BASE_DECIMAL_TYPE_24"/>
       </xs:simpleType>  
	<xs:simpleType name="BASE_DECIMAL_TYPE_24">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTEGER_TYPE_24">
       <xs:restriction base="xs:integer">
              <xs:totalDigits value="24"/>
       </xs:restriction>
     </xs:simpleType>

	<xs:simpleType name="DECIMAL_NON_NEGATIVE_TYPE_24">
		<xs:union memberTypes="BASE_DECIMAL_NON_NEGATIVE_TYPE_24 NON_NEGATIVE_INTEGER_TYPE_24"/>
	</xs:simpleType>
	<xs:simpleType name="BASE_DECIMAL_NON_NEGATIVE_TYPE_24">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NON_NEGATIVE_INTEGER_TYPE_24">
            <xs:restriction base="xs:nonNegativeInteger">
                   <xs:totalDigits value="24"/>
            </xs:restriction>
     </xs:simpleType>
     
    <xs:simpleType name="DECIMAL_NON_NEGATIVE_NA_TYPE_24">
		<xs:union memberTypes="BASE_DECIMAL_NON_NEGATIVE_TYPE_24 NON_NEGATIVE_INTEGER_TYPE_24 NA_TYPE"/>
	</xs:simpleType>

	<xs:simpleType name="DECIMAL2_TYPE_24">
		<xs:union memberTypes="BASE_DECIMAL2_TYPE_24 NA_TYPE"/>
	</xs:simpleType>
	<xs:simpleType name="BASE_DECIMAL2_TYPE_24">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-100"/>
			<xs:totalDigits value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMAL_TYPE_NA_STRING_24">
		<xs:union memberTypes="BASE_DECIMAL_TYPE_24 NA_TYPE STRING_5_TYPE"/>
	</xs:simpleType>
	<xs:simpleType name="STRING_5_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRING_20_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRING_5K_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMAL_TYPE_NA_24">
		<xs:union memberTypes="BASE_DECIMAL_TYPE_24 NA_TYPE"/>
	</xs:simpleType>
	<xs:simpleType name="INTEGER_TYPE_NA_2">
		<xs:restriction base="xs:token">
		<xs:pattern value="[0-9]|[1][0-9]|[2][0-9]|[3][0-1]|(N/A)" />	
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SERIES_ID_TYPE">
		<xs:annotation>
			<xs:documentation>SEC-supplied series identifier.  Field is 10 characters.  The value must start with an "S" followed by nine digits OR it can take N/A when applied to all series</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[S|s][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLASS_ID_TYPE">
		<xs:annotation>
			<xs:documentation>SEC-supplied class (contract) identifier.  Field is 10 characters.  The value must start with a "C" followed by nine digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[C|c][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	 <xs:simpleType name="ISO_NON_US_CURRENCY_CODE">
        <xs:annotation>
            <xs:documentation>
                Set of valid State and Country Codes according to EDGAR.
            </xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
<xs:enumeration value="AED"/>	<!-- United Arab Emirates Dirham -->
<xs:enumeration value="AFN"/>	<!-- Afghanistan Afghani -->
<xs:enumeration value="ALL"/>	<!-- Albania Lek -->
<xs:enumeration value="AMD"/>	<!-- Armenia Dram -->
<xs:enumeration value="ANG"/>	<!-- Netherlands Antilles Guilder -->
<xs:enumeration value="AOA"/>	<!-- Angola Kwanza -->
<xs:enumeration value="ARS"/>	<!-- Argentina Peso -->
<xs:enumeration value="AUD"/>	<!-- Australia Dollar -->
<xs:enumeration value="AWG"/>	<!-- Aruba Guilder -->
<xs:enumeration value="AZN"/>	<!-- Azerbaijan New Manat -->
<xs:enumeration value="BAM"/>	<!-- Bosnia and Herzegovina Convertible Marka -->
<xs:enumeration value="BBD"/>	<!-- Barbados Dollar -->
<xs:enumeration value="BDT"/>	<!-- Bangladesh Taka -->
<xs:enumeration value="BGN"/>	<!-- Bulgaria Lev -->
<xs:enumeration value="BHD"/>	<!-- Bahrain Dinar -->
<xs:enumeration value="BIF"/>	<!-- Burundi Franc -->
<xs:enumeration value="BMD"/>	<!-- Bermuda Dollar -->
<xs:enumeration value="BND"/>	<!-- Brunei Darussalam Dollar -->
<xs:enumeration value="BOB"/>	<!-- Bolivia Bolíviano -->
<xs:enumeration value="BRL"/>	<!-- Brazil Real -->
<xs:enumeration value="BSD"/>	<!-- Bahamas Dollar -->
<xs:enumeration value="BTN"/>	<!-- Bhutan Ngultrum -->
<xs:enumeration value="BWP"/>	<!-- Botswana Pula -->
<xs:enumeration value="BYR"/>	<!-- Belarus Ruble -->
<xs:enumeration value="BZD"/>	<!-- Belize Dollar -->
<xs:enumeration value="CAD"/>	<!-- Canada Dollar -->
<xs:enumeration value="CDF"/>	<!-- Congo"/Kinshasa Franc -->
<xs:enumeration value="CHF"/>	<!-- Switzerland Franc -->
<xs:enumeration value="CLP"/>	<!-- Chile Peso -->
<xs:enumeration value="CNY"/>	<!-- China Yuan Renminbi -->
<xs:enumeration value="COP"/>	<!-- Colombia Peso -->
<xs:enumeration value="CRC"/>	<!-- Costa Rica Colon -->
<xs:enumeration value="CUC"/>	<!-- Cuba Convertible Peso -->
<xs:enumeration value="CUP"/>	<!-- Cuba Peso -->
<xs:enumeration value="CVE"/>	<!-- Cape Verde Escudo -->
<xs:enumeration value="CZK"/>	<!-- Czech Republic Koruna -->
<xs:enumeration value="DJF"/>	<!-- Djibouti Franc -->
<xs:enumeration value="DKK"/>	<!-- Denmark Krone -->
<xs:enumeration value="DOP"/>	<!-- Dominican Republic Peso -->
<xs:enumeration value="DZD"/>	<!-- Algeria Dinar -->
<xs:enumeration value="EGP"/>	<!-- Egypt Pound -->
<xs:enumeration value="ERN"/>	<!-- Eritrea Nakfa -->
<xs:enumeration value="ETB"/>	<!-- Ethiopia Birr -->
<xs:enumeration value="EUR"/>	<!-- Euro Member Countries -->
<xs:enumeration value="FJD"/>	<!-- Fiji Dollar -->
<xs:enumeration value="FKP"/>	<!-- Falkland Islands (Malvinas) Pound -->
<xs:enumeration value="GBP"/>	<!-- United Kingdom Pound -->
<xs:enumeration value="GEL"/>	<!-- Georgia Lari -->
<xs:enumeration value="GGP"/>	<!-- Guernsey Pound -->
<xs:enumeration value="GHS"/>	<!-- Ghana Cedi -->
<xs:enumeration value="GIP"/>	<!-- Gibraltar Pound -->
<xs:enumeration value="GMD"/>	<!-- Gambia Dalasi -->
<xs:enumeration value="GNF"/>	<!-- Guinea Franc -->
<xs:enumeration value="GTQ"/>	<!-- Guatemala Quetzal -->
<xs:enumeration value="GYD"/>	<!-- Guyana Dollar -->
<xs:enumeration value="HKD"/>	<!-- Hong Kong Dollar -->
<xs:enumeration value="HNL"/>	<!-- Honduras Lempira -->
<xs:enumeration value="HRK"/>	<!-- Croatia Kuna -->
<xs:enumeration value="HTG"/>	<!-- Haiti Gourde -->
<xs:enumeration value="HUF"/>	<!-- Hungary Forint -->
<xs:enumeration value="IDR"/>	<!-- Indonesia Rupiah -->
<xs:enumeration value="ILS"/>	<!-- Israel Shekel -->
<xs:enumeration value="IMP"/>	<!-- Isle of Man Pound -->
<xs:enumeration value="INR"/>	<!-- India Rupee -->
<xs:enumeration value="IQD"/>	<!-- Iraq Dinar -->
<xs:enumeration value="IRR"/>	<!-- Iran Rial -->
<xs:enumeration value="ISK"/>	<!-- Iceland Krona -->
<xs:enumeration value="JEP"/>	<!-- Jersey Pound -->
<xs:enumeration value="JMD"/>	<!-- Jamaica Dollar -->
<xs:enumeration value="JOD"/>	<!-- Jordan Dinar -->
<xs:enumeration value="JPY"/>	<!-- Japan Yen -->
<xs:enumeration value="KES"/>	<!-- Kenya Shilling -->
<xs:enumeration value="KGS"/>	<!-- Kyrgyzstan Som -->
<xs:enumeration value="KHR"/>	<!-- Cambodia Riel -->
<xs:enumeration value="KMF"/>	<!-- Comoros Franc -->
<xs:enumeration value="KPW"/>	<!-- Korea (North) Won -->
<xs:enumeration value="KRW"/>	<!-- Korea (South) Won -->
<xs:enumeration value="KWD"/>	<!-- Kuwait Dinar -->
<xs:enumeration value="KYD"/>	<!-- Cayman Islands Dollar -->
<xs:enumeration value="KZT"/>	<!-- Kazakhstan Tenge -->
<xs:enumeration value="LAK"/>	<!-- Laos Kip -->
<xs:enumeration value="LBP"/>	<!-- Lebanon Pound -->
<xs:enumeration value="LKR"/>	<!-- Sri Lanka Rupee -->
<xs:enumeration value="LRD"/>	<!-- Liberia Dollar -->
<xs:enumeration value="LSL"/>	<!-- Lesotho Loti -->
<xs:enumeration value="LYD"/>	<!-- Libya Dinar -->
<xs:enumeration value="MAD"/>	<!-- Morocco Dirham -->
<xs:enumeration value="MDL"/>	<!-- Moldova Leu -->
<xs:enumeration value="MGA"/>	<!-- Madagascar Ariary -->
<xs:enumeration value="MKD"/>	<!-- Macedonia Denar -->
<xs:enumeration value="MMK"/>	<!-- Myanmar (Burma) Kyat -->
<xs:enumeration value="MNT"/>	<!-- Mongolia Tughrik -->
<xs:enumeration value="MOP"/>	<!-- Macau Pataca -->
<xs:enumeration value="MRO"/>	<!-- Mauritania Ouguiya -->
<xs:enumeration value="MUR"/>	<!-- Mauritius Rupee -->
<xs:enumeration value="MVR"/>	<!-- Maldives (Maldive Islands) Rufiyaa -->
<xs:enumeration value="MWK"/>	<!-- Malawi Kwacha -->
<xs:enumeration value="MXN"/>	<!-- Mexico Peso -->
<xs:enumeration value="MYR"/>	<!-- Malaysia Ringgit -->
<xs:enumeration value="MZN"/>	<!-- Mozambique Metical -->
<xs:enumeration value="NAD"/>	<!-- Namibia Dollar -->
<xs:enumeration value="NGN"/>	<!-- Nigeria Naira -->
<xs:enumeration value="NIO"/>	<!-- Nicaragua Cordoba -->
<xs:enumeration value="NOK"/>	<!-- Norway Krone -->
<xs:enumeration value="NPR"/>	<!-- Nepal Rupee -->
<xs:enumeration value="NZD"/>	<!-- New Zealand Dollar -->
<xs:enumeration value="OMR"/>	<!-- Oman Rial -->
<xs:enumeration value="PAB"/>	<!-- Panama Balboa -->
<xs:enumeration value="PEN"/>	<!-- Peru Sol -->
<xs:enumeration value="PGK"/>	<!-- Papua New Guinea Kina -->
<xs:enumeration value="PHP"/>	<!-- Philippines Peso -->
<xs:enumeration value="PKR"/>	<!-- Pakistan Rupee -->
<xs:enumeration value="PLN"/>	<!-- Poland Zloty -->
<xs:enumeration value="PYG"/>	<!-- Paraguay Guarani -->
<xs:enumeration value="QAR"/>	<!-- Qatar Riyal -->
<xs:enumeration value="RON"/>	<!-- Romania New Leu -->
<xs:enumeration value="RSD"/>	<!-- Serbia Dinar -->
<xs:enumeration value="RUB"/>	<!-- Russia Ruble -->
<xs:enumeration value="RWF"/>	<!-- Rwanda Franc -->
<xs:enumeration value="SAR"/>	<!-- Saudi Arabia Riyal -->
<xs:enumeration value="SBD"/>	<!-- Solomon Islands Dollar -->
<xs:enumeration value="SCR"/>	<!-- Seychelles Rupee -->
<xs:enumeration value="SDG"/>	<!-- Sudan Pound -->
<xs:enumeration value="SEK"/>	<!-- Sweden Krona -->
<xs:enumeration value="SGD"/>	<!-- Singapore Dollar -->
<xs:enumeration value="SHP"/>	<!-- Saint Helena Pound -->
<xs:enumeration value="SLL"/>	<!-- Sierra Leone Leone -->
<xs:enumeration value="SOS"/>	<!-- Somalia Shilling -->
<xs:enumeration value="SPL*"/>	<!-- Seborga Luigino -->
<xs:enumeration value="SRD"/>	<!-- Suriname Dollar -->
<xs:enumeration value="STD"/>	<!-- São Tomé and Príncipe Dobra -->
<xs:enumeration value="SVC"/>	<!-- El Salvador Colon -->
<xs:enumeration value="SYP"/>	<!-- Syria Pound -->
<xs:enumeration value="SZL"/>	<!-- Swaziland Lilangeni -->
<xs:enumeration value="THB"/>	<!-- Thailand Baht -->
<xs:enumeration value="TJS"/>	<!-- Tajikistan Somoni -->
<xs:enumeration value="TMT"/>	<!-- Turkmenistan Manat -->
<xs:enumeration value="TND"/>	<!-- Tunisia Dinar -->
<xs:enumeration value="TOP"/>	<!-- Tonga Pa'anga -->
<xs:enumeration value="TRY"/>	<!-- Turkey Lira -->
<xs:enumeration value="TTD"/>	<!-- Trinidad and Tobago Dollar -->
<xs:enumeration value="TVD"/>	<!-- Tuvalu Dollar -->
<xs:enumeration value="TWD"/>	<!-- Taiwan New Dollar -->
<xs:enumeration value="TZS"/>	<!-- Tanzania Shilling -->
<xs:enumeration value="UAH"/>	<!-- Ukraine Hryvnia -->
<xs:enumeration value="UGX"/>	<!-- Uganda Shilling -->
<xs:enumeration value="UYU"/>	<!-- Uruguay Peso -->
<xs:enumeration value="UZS"/>	<!-- Uzbekistan Som -->
<xs:enumeration value="VEF"/>	<!-- Venezuela Bolivar -->
<xs:enumeration value="VND"/>	<!-- Viet Nam Dong -->
<xs:enumeration value="VUV"/>	<!-- Vanuatu Vatu -->
<xs:enumeration value="WST"/>	<!-- Samoa Tala -->
<xs:enumeration value="XAF"/>	<!-- Communauté Financière Africaine (BEAC) CFA Franc BEAC -->
<xs:enumeration value="XCD"/>	<!-- East Caribbean Dollar -->
<xs:enumeration value="XDR"/>	<!-- International Monetary Fund (IMF) Special Drawing Rights -->
<xs:enumeration value="XOF"/>	<!-- Communauté Financière Africaine (BCEAO) Franc -->
<xs:enumeration value="XPF"/>	<!-- Comptoirs Français du Pacifique (CFP) Franc -->
<xs:enumeration value="YER"/>	<!-- Yemen Rial -->
<xs:enumeration value="ZAR"/>	<!-- South Africa Rand -->
<xs:enumeration value="ZMW"/>	<!-- Zambia Kwacha -->
<xs:enumeration value="ZWD"/>	<!-- Zimbabwe Dollar -->
		</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="ISO_NON_US_CURRENCY_NA_CODE">
			<xs:union memberTypes="ISO_NON_US_CURRENCY_CODE NA_TYPE"/>
		</xs:simpleType>
		
		<xs:simpleType name="ISO_CURRENCY_CODE">
			<xs:union memberTypes="ISO_NON_US_CURRENCY_CODE ISO_US_CODE"/>
		</xs:simpleType>	
				
		<xs:simpleType name="ISO_US_CURRENCY_CODE_NA_TYPE">
			<xs:union memberTypes="ISO_US_CODE NA_TYPE"/>
		</xs:simpleType>	
		
		<xs:simpleType name="ISO_ALL_CURRENCY_NA_CODE">
			<xs:union memberTypes="ISO_NON_US_CURRENCY_CODE ISO_US_CODE NA_TYPE"/>
		</xs:simpleType>	

		<xs:simpleType name="ISO_US_CODE">
			<xs:restriction base="xs:string">
				<xs:enumeration value="USD"/>	<!-- United States of America Dollar -->
			</xs:restriction>
		</xs:simpleType>	
		
		<xs:simpleType name="NA_TYPE">
			<xs:restriction base="xs:string">
				<xs:enumeration value="N/A"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="LEI_TYPE_RSS_NA" >
		<xs:annotation>
			<xs:documentation>Filers should be allowed to put in up to 20 alphanumeric characters, but should also be allowed to put in less than 20 characters.  This is because the instructions sometimes allow filers to respond with "N/A" or the RSSD ID, which is a 10-digit number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string" >
			<xs:pattern value="[0-9A-Z]{18}[0-9]{2}|[0-9]{10}|N/A"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="LEI_TYPE">
   		<xs:annotation>
      		<xs:documentation>
		         LEI per www.gleif.org
		         Characters 1-4:     Prefix used to ensure the uniqueness among codes from LEI issuers (Local Operating Units or LOUs).
		         Characters 5-18:   Entity-specific part of the code generated and assigned by LOUs according to transparent, sound and robust allocation policies. 
		                                    As required by ISO 17442, it contains no embedded intelligence.
		         Characters 19-20: Two check digits as described in the ISO 17442 standard.
      		</xs:documentation>
   		</xs:annotation>
   		<xs:restriction base="xs:string">
      		<xs:pattern value="[0-9A-Z]{18}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	
		<xs:simpleType name="NON_ENTITY_TYPE">
			<xs:restriction base="xs:token">
				<xs:pattern value="[a-zA-Z0-9\r\t\n ./?;:'`!~,@#$%^*&amp;\\()\[\]{}_+=|\-&lt;|&gt;|&quot;]{1,}"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="ENTITY_TYPE">
			<xs:restriction base="xs:token">
				<xs:pattern value="[a-zA-Z0-9 ./?;:'`!~,@#$%^*()\[\]{}_+=|\-&amp;]{1,}"/>
			</xs:restriction>
		</xs:simpleType> 
		
		<xs:simpleType name="CUSIP_TYPE">
			<xs:restriction base="xs:token">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="9"/>
	            <xs:pattern value="[0-9A-Z]{5}[0-9A-Z#\*@&amp;]{3}[0-9]"/>
        	</xs:restriction>
		</xs:simpleType>
	<xs:simpleType name="SERIES_NAME_TYPE">
		<xs:annotation>
			<xs:documentation>Name of the series. Field is up to 150 characters.
				Text will be conformed to remove all leading and trailing spaces and
				any extra spaces between words.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
			<xs:maxLength value="150" />
			<xs:pattern
				value="[A-Za-z0-9!#-$%():;'@\*\+\-/=\?\^_`~{|},. \\\s&lt;&gt;&amp;&quot;\[\]]{1,150}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISIN_TYPE">
        <xs:annotation>
            <xs:documentation> 
                The main body of the ISIN is the original CUSIP, assigned in the 1970s. The country code 
                "XX" has been added on the front, and an additional check digit at the end. The country 
                code indicates the country of issue. 
                        
                The check digit is calculated using the Luhn algorithm.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[A-Z]{2}[0-9A-Z]{5}[0-9A-Z#\*@&amp;]{3}[A-Z0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
		
		
		<xs:simpleType name="STRING_NENT_150_TYPE">
			<xs:restriction base="NON_ENTITY_TYPE">
				<xs:minLength value="1"/>
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="STRING_ENT_150_TYPE">
			<xs:restriction base="ENTITY_TYPE">
				<xs:minLength value="1"/>
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType> 
		
		<xs:simpleType name="STRING_NENT_250_TYPE">
			<xs:restriction base="NON_ENTITY_TYPE">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="ZIP_TYPE">
			<xs:restriction base="NON_ENTITY_TYPE">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType> 
		
		<xs:simpleType name="PHONE_TYPE">
			<xs:restriction base="NON_ENTITY_TYPE">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType> 
		
		<xs:simpleType name="DATE_9999_NA_TYPE">
			<xs:union memberTypes="DATE_9999_TYPE NA_TYPE"/>
		</xs:simpleType>
		
		<xs:simpleType name="DATE_2500_TYPE">
			<xs:restriction base="xs:date">
				<xs:maxInclusive value="2500-12-31"/>
				<xs:minInclusive value="1980-01-01"/>
			</xs:restriction>
		</xs:simpleType> 
		
		<xs:simpleType name="DATE_9999_TYPE">
			<xs:restriction base="xs:date">
				<xs:maxInclusive value="9999-12-31"/>
				<xs:minInclusive value="1980-01-01"/>
			</xs:restriction>
		</xs:simpleType>
		
		<xs:simpleType name="DATE_TYPE">
			<xs:restriction base="xs:token">
			<xs:pattern value="\d{4}-\d{1,2}-\d{1,2}" />
		</xs:restriction>
		</xs:simpleType> 
		
	<xs:complexType name="SIGNATURE_TYPE">
		<xs:sequence>
			<xs:element name="dateSigned" type="DATE_2500_TYPE" />
			<xs:element name="nameOfApplicant" type="STRING_NENT_150_TYPE" />
			<xs:element name="signature" type="STRING_NENT_150_TYPE" />
			<xs:element name="signerName" type="STRING_NENT_150_TYPE" />
			<xs:element name="title" type="STRING_NENT_150_TYPE" />
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>
